In [5]:
import numpy as np
import pandas as pd

### Load and read csv file

In [17]:
file1 = pd.read_csv('file1.csv')
file1

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

### Display the first n rows

In [26]:
file1.head(3)

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0

### Get dimensionality of the DataFrame
*dimension = (number of rows, number of columns)*

In [20]:
file1.shape

(1007, 17)

### Generate descriptive statistics

In [21]:
file1.describe(include = "all")

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
count,1007.000000,1007,967,1005,1007.000000,1006.000000,1007.000000,1007,1007.000000,1007.000000,1006.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007,1007.000000
unique,NaN,43,9,757,NaN,NaN,NaN,954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN
top,NaN,CA,F,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S1,NaN
freq,NaN,106,478,7,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135,NaN
mean,98913.029791,NaN,NaN,NaN,352.015889,445.059642,16.261172,NaN,6.847071,55.630586,401.658052,400.022840,11.863404,37.747766,2555.362463,NaN,16.026604
std,58306.879885,NaN,NaN,NaN,173.937638,178.115476,29.464477,NaN,9.333689,21.593999,182.024618,168.901139,7.829965,213.010617,2069.953954,NaN,14.586646
min,71.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,2.361111,0.000000,0.000000,NaN,1.000000
25%,44930.500000,NaN,NaN,NaN,238.500000,325.000000,0.000000,NaN,1.000000,41.000000,283.000000,286.000000,7.285714,0.000000,0.000000,NaN,10.000000
50%,101113.000000,NaN,NaN,NaN,319.000000,406.000000,1.000000,NaN,4.000000,57.000000,364.500000,361.000000,10.000000,1.000000,2501.000000,NaN,13.920000
75%,151559.000000,NaN,NaN,NaN,421.500000,527.000000,14.000000,NaN,9.000000,74.000000,474.750000,478.000000,14.500000,2.000000,4308.500000,NaN,20.000000
max,191779.000000,NaN,NaN,NaN,1500.000000,1263.000000,99.000000,NaN,73.000000,96.000000,1500.000000,1185.000000,89.444444,4002.000000,8305.000000,NaN,200.000000

In [29]:
file1.describe(include = [np.number])

,CONTROLN,IC1,IC4,HVP1,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,TARGET_D
count,1007.000000,1007.000000,1006.000000,1007.000000,1007.000000,1007.000000,1006.000000,1007.000000,1007.000000,1007.000000,1007.000000,1007.000000
mean,98913.029791,352.015889,445.059642,16.261172,6.847071,55.630586,401.658052,400.022840,11.863404,37.747766,2555.362463,16.026604
std,58306.879885,173.937638,178.115476,29.464477,9.333689,21.593999,182.024618,168.901139,7.829965,213.010617,2069.953954,14.586646
min,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.361111,0.000000,0.000000,1.000000
25%,44930.500000,238.500000,325.000000,0.000000,1.000000,41.000000,283.000000,286.000000,7.285714,0.000000,0.000000,10.000000
50%,101113.000000,319.000000,406.000000,1.000000,4.000000,57.000000,364.500000,361.000000,10.000000,1.000000,2501.000000,13.920000
75%,151559.000000,421.500000,527.000000,14.000000,9.000000,74.000000,474.750000,478.000000,14.500000,2.000000,4308.500000,20.000000
max,191779.000000,1500.000000,1263.000000,99.000000,73.000000,96.000000,1500.000000,1185.000000,89.444444,4002.000000,8305.000000,200.000000

In [35]:
file1.size

17119

___

## Inspecting file2

In [32]:
file2 = pd.read_csv('file2.txt', sep = '\t')
file2

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684,36,29098,7,19,586,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540,1,16623,5,68,529,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295,0,12713,9,12,221,276,12.857143,0,0,C2,12.0

In [ ]:
file